@import "tailwindcss";

* {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variant-numeric: tabular-nums;
}

@media (min-width: 1600px) {
  body {
    zoom: 110%;
  }
}
@media (max-width: 1200px) {
  body {
    zoom: 90%;
  }
}

